{% extends "base.html" %}

{% block content %}

    <hr>

    {% for blog in blogs %}
        <div class="blog">
            <div class="blog-heading">
                <a class="content-subject" href="/blog/{{blog.entry}}">{{blog.subject}}</a>
                <div class="content-date">[{{blog.created.strftime("%a %b %d, %Y at %H:%M:%S %z")}}]</div>
            </div>
            <!--Preserve whitespace-->
            <pre class="content-body">{{blog.content}}</pre>
        </div>
    {% endfor %}

    <br>
    <hr>
    <br>
    <footer>
        Query ran at {{now}}
    </footer>

{% endblock %}

