{% extends "base.html" %}

  <!-- Page specific CSS -->
  {% block page_css %}
    <link href="/static/css/sign.css" rel="stylesheet">
  {% endblock %}

  {% block header_content %}
    <!-- Navigation Bar Right Side Links -->
    <li class="active"><a href="/signin">I already have an acccount! - Sign in</a></li>
  {% endblock %}

  {% block main_content %}
    <div class="container">
      <form class="form-signin" method="post">
        <h2 class="form-signin-heading">Sign up</h2>

        <label for="inputUsername" class="sr-only">Username</label>
        <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" value="{{username}}" required autofocus>
        <span id="helpBlock1" class="help-block help-customize">{{username_error}}</span>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" value="{{password}}" required>
        <span id="helpBlock2" class="help-block help-customize">{{password_error}}</span>

        <label for="inputVerify" class="sr-only">Verify Password</label>
        <input type="password" id="inputVerify" name="verify" class="form-control" placeholder="Verify Password" value="{{verify}}" required>
        <span id="helpBlock3" class="help-block help-customize">{{verify_error}}</span>

        <label for="inputEmail" class="sr-only">Email Address (optional)</label>
        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email Address" value="{{email}}">
        <span id="helpBlock4" class="help-block help-customize">{{email_error}}</span>

        <div class="checkbox">
          <label>
            <input type="checkbox" name="auth_cookie" value="remember"> Remember me for 30 days
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        <span id="helpBlock5" class="help-block help-customize">{{auth_error}}</span>
      </form>
    </div> <!-- /container -->
  {% endblock %}
