{% extends "base.html" %}

{% block content %}

    <h2>/ASCII/</h2>
    <form method="post">
        <label>
            <div>Title:</div>
            <input type="text" name="title" value="{{title}}">
        </label>
        <br>
        <br>
        <label>
            <div>ASCII Art:</div>
            <textarea style="height: 100px; width: 400px;" name="art">{{art}}</textarea>
        </label>
        <br>
        <div class="error">
            <input type="submit">
            {{error}}
        </div>
    </form>

    <hr>

    {% for art in arts %}
        <div class="art">
            <div class="art-title">{{art.title}}</div>
            <!--Preserve whitespace-->
            <pre class="art-body">{{art.art}}</pre>
        </div>
    {% endfor %}

{% endblock %}

