{% extends "base.html" %}

  <!-- Page specific CSS -->
  {% block page_css %}
    <link href="/static/css/newpost.css" rel="stylesheet">
  {% endblock %}

  {% block main_content %}
    <div class="container">
      <div class="col-md-8">
        <form class="form-newpost" method="post">
          <h2 class="form-newpost-heading">{{cu_type}}</h2>
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Post Title</span>
            <label for="inputTitle" class="sr-only">Title</label>
            {% if ro_title %}
              <input type="text" id="inputTitle" name="title" class="form-control" placeholder="My Title" value="{{title}}" aria-describedby="basic-addon1" disabled>
            {% else %}
              <!-- Got rid of "required" before autofocus so can use Cancel button -->
              <input type="text" id="inputTitle" name="title" class="form-control" placeholder="My Title" value="{{title}}" aria-describedby="basic-addon1" autofocus>
            {% endif %}
            <span id="helpBlock1" class="help-block help-customize">{{title_error}}</span>
          </div>
          <br>
          <div class="panel panel-primary">
            <div class="panel-heading">
              {% if ro_title %}
                <h3 class="panel-title">My Comment</h3>
              {% else %}
                <h3 class="panel-title">My Story</h3>
              {% endif %}
            </div>
            <div class="panel-body">
              <label for="inputContent" class="sr-only">Content</label>
              {% if ro_title %}
                <!-- Got rid of "required" before autofocus so can use Cancel button -->
                <textarea name="content" placeholder="When I read this post it made me think..." autofocus>{{content}}</textarea>
              {% else %}
                <!-- Got rid of "required" before end of textarea so can use Cancel button -->
                <textarea name="content" placeholder="It all started when...">{{content}}</textarea>
              {% endif %}
              <span id="helpBlock2" class="help-block help-customize">{{content_error}}</span>
            </div>
          </div>

          <div class="input-group">
            <label for="inputTags" class="sr-only">Tags</label>
            <span class="input-group-addon" id="basic-addon2">Post Tags</span>
            {% if ro_title %}
              <input type="text" id="inputTags" name="tags" class="form-control" placeholder="Such as Technology, Personal, Politics, Family, etc." value="{{tags}}" aria-describedby="basic-addon2" disabled>
            {% else %}
              <input type="text" id="inputTags" name="tags" class="form-control" placeholder="Such as Technology, Personal, Politics, Family, etc." value="{{tags}}" aria-describedby="basic-addon2">
            {% endif %}
            <span id="helpBlock3" class="help-block help-customize">{{tags_error}}</span>
          </div>

          <br>
          {% if new %}
            <button class="btn btn-lg btn-primary" type="submit" name="submit" value="submit">Submit</button>
            <button class="btn btn-lg btn-default" type="submit" name="cancel" value="cancel">Cancel</button>
          {% else %}
            <button class="btn btn-lg btn-info" type="submit" name="submit" value="submit">Update</button>
            <button class="btn btn-lg btn-default" type="submit" name="cancel" value="cancel">Cancel</button>
          {% endif %}
          <span id="helpBlock4" class="help-block help-customize">{{submit_error}}</span>
        </form>
      </div>
    </div> <!-- /container -->
  {% endblock %}
