{% extends "base.html" %}

{% block main_content %}
  <div class="container">
    <div class="starter-template">
      <h1>Hello</h1>
        <p class="lead">A Paragraph...</p>
        <p class="lead">A Paragraph...</p>
        <p class="lead">A Paragraph...</p>
        <p class="lead">A Paragraph...</p>
        <p class="lead">A Paragraph...</p>
        <p class="lead">A Paragraph...</p>
        <p class="lead">A Paragraph...</p>
        <p class="lead">A Paragraph...</p>
        <p class="lead">A Paragraph...</p>
        <p class="lead">A Paragraph...</p>
        <p class="lead">A Paragraph...</p>
        <p class="lead">A Paragraph...</p>
        <p class="lead">A Paragraph...</p>
        <p class="lead">A Paragraph...</p>
        <p class="lead">A Paragraph...</p>
        <p class="lead">A Paragraph...</p>
        <p class="lead">A Paragraph...</p>
        <p class="lead">A Paragraph...</p>
        <p class="lead">A Paragraph...</p>
        <p class="lead">A Paragraph...</p>
        <p class="lead">A Paragraph...</p>
    </div>
  </div><!-- /.container -->
{% endblock %}
